/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
    leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "Red LED 0";
		};

		led1: led_1 {
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "Blue LED 1";
		};

	};

    chosen {

    };

    aliases {
		led0 = &led0;
		led1 = &led1;
		sw0 = &button0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};


&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
};

&uicr {
	gpio-as-nreset;
	// nfct-pins-as-gpios;
	nfct-pins-as-gpios;
};

&nfct {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	// status = "okay" "disabled";
	status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

/* 重新定义 i2c0_default 和 i2c0_sleep 以覆盖默认引脚 */
&pinctrl {
	/* 覆盖默认的 i2c0_default */
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,    /* P0.26 SDA */
					<NRF_PSEL(TWIM_SCL, 0, 15)>;    /* P0.27 SCL */
		};
	};

	/* 覆盖默认的 i2c0_sleep */
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
					<NRF_PSEL(TWIM_SCL, 0, 15)>;
			low-power-enable;
		};
	};
};

/* 确保I2C0总线已启用 */
&i2c0 {
    status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>; //I2C_BITRATE_STANDARD 250000 I2C_BITRATE_FAST
    pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi0 {
	status = "disabled";


};


&ieee802154 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xC000>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x37000>;
		};

		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 0x37000>;
		};

		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007A000 0x00006000>;
		};
	};
};
